@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
   text-decoration: none;
   list-style-type: none;
}

body {
    background: #404d54;
}


/* #404d54 (background)
#2b3438ad (bg-cards)
#e4584f
#cc564f (text)
#b55450 (text hover)
#9d5351 */


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0px 30px 0px 30px;
    top: 0;
    position: fixed;
    background-color: #404d54;
    z-index: 2;
}

.logo-img{
  filter: drop-shadow(0px 7px 21px #cc564f);
  animation: rotar 5s linear infinite;
}

@keyframes rotar {
    0%{
      transform: rotatey(0deg);
    }
    30%{
      transform: rotatey(90deg);
    }
    50%{
      transform: rotatey(180deg);
    }
    70%{
      transform: rotatey(280deg);
    }
    100%{
      transform: rotatey(360deg);
    }
}

.logo-img:hover {
  animation: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.navbar-links a {
    color: #cc564f;
    font-size: 18px;
}

.navbar-links a:hover {
    color: #b55450;
    transition: all 0.5ms ease-in-out;
}

/* Lupa */

.buscar {
    position: relative;
    padding: 5px;
  }
  
  .buscar input {
    background: #404d54;
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #b55450;
    outline: none;
    border: 1px solid #b55450;
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  .btn {
    background: #404d54;
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }

  .buscar:hover input {
    width: 200px;
  }
  
  .buscar input:focus {
    width: 200px;
  }


  /* Carrito y MENU */

.cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
    width: 100%;
}

.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  font-size: 22px;
  margin-right: 1rem;
  color: #cc564f;
  cursor: pointer;
  position: relative;
}

.cart-number {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: #cc564f;
    color: #2b3438;
    font-size: 12px;
    font-weight: 800;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}


.menu-label{
  display: none;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.cart{
    position: absolute;
    top: 6rem;
    right: 0;
    padding: 50px 50px;
    background: #2b3438;
    border: 1px solid #cc564f;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll; 
    z-index: 2;
    min-width: 500px;
    height: 100vh;
    transform: translate(200%);
    transition: all 0.5s ease-in-out;
  }

.open-cart {
    transform: translate(0%);
    transition: all 0.5s ease-in-out;
}


  

  .cart::-webkit-scrollbar{
    display: none;
  }
  
  .cart h2 {
    color: #cc564f;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .cart-conten {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2323234e;
    padding: 1rem;
    border: 1px solid #b55450;
    border-radius: 10px;
    width: 100%;
  }
  
  .cart-item img {
    width: 65px;
    height: 65px;
  }

  .item-info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .item-title{
    color: #cc564f;
    font-weight: 600;
    font-size: 14px;
    
  }
  
  .item-bid{
    color: #cc564f;
    font-weight: 300;
    font-size: 10px;
  }
  
  .item-price{
    color: #e4584f;
    text-decoration-line: underline;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 800;
    max-width: 70px;
  }
  
  .item-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .quantity-handler{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: #e4584f;
    font-weight: 400;
  }
  
  .item-quantity{
    color: #e4584f;
  }
  
  .down{
    border: 1px solid #e4584f;
    cursor: pointer;
  }

  .down:hover {
    background-color: #44505549;
  }
  
  .up{
    border: 1px solid #e4584f;
    cursor: pointer;
  }

  .up:hover {
    background-color: #44505549;
  }
  
  .divider{
    border: 0.5px solid #e4584f;
    width: 100%;
  }
  
  .cart-total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  
  .cart-total p{
    color: #e4584f;
    font-weight: 700;
  }
  
  .cart-total span{
    color: #e4584f;
    font-weight: 400;
    font-size: 18px;
  }

  .cart-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
  }

  .no-products {
    color: #e4584f;
    font-size: 18px;
    font-weight: 400;
  }
















/* Main, hero*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12.5vh;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero-info h2 {
    font-size: 4.5rem;
    color: #e4584f;
    padding: 5px;

}

.hero-info h4 {
    font-size: 2.5rem;
    color: #cc564f;
}

.hero-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px;
}

.hero-links a {
    color: black;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.hero-links a:hover {
  border: 2px solid #e4584f;
  color: #e4584f;
  background-color: #2b3438 ;
  transition: 0.5s all ease-in;
}

.hero-links .register {
    color: #000000;
    background-color: #e4584f;
    border: 2px solid black;
}

/* Sections */


#novedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    gap: 35px;
}

.nov-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 2rem;
    color: #e4584f;
    padding: 40px 0px;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}


.nov-tittle p {
    font-size: 1.6rem;
    color: #cc564f;
}


.nov-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1550px;
}

.cards-cointainer {
   background: #2b3438ad;
   padding: 20px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   width: 500px;
   height: 666px;
}

.cards-img {
  max-width: 450px;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cards-cointainer img{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-tittle {
    background: #2b3438ad;
    color: #cc564f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.cards-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #2b3438ad;
    color: rgba(0, 0, 0, 0.795);
    padding: 5px;
}

.cards-price span {
    background-color: #e4584f;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.cards-price span:hover {
  border: 2px solid #e4584f;
  color: #e4584f;
  background-color: #2b3438 ;
  transition: 0.5s all ease-in;
}

.btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #000000;
    background-color: #e4584f;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.btn-load {
  cursor: pointer;
}

.btn-add:hover {
    border: 2px solid #e4584f;
    color: #e4584f;
    background-color: #2b3438 ;
    transition: 0.3s all ease-in;
}

.btn-buy,
.btn-delete {
  justify-content: center;
  width: 60%;
}

.categories {
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.category {
  background-color: #e4584f;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.category:hover {
  border: 2px solid #e4584f;
  color: #e4584f;
  background-color: #2b3438;
  transition: 0.3s all ease-in;
}

.active {
  background-color: black;
  border: 2px solid #e4584f;
  color: #e4584f;
}

.active:hover {
  background-color: #2b3438;
  transition: 0.2s all ease-in;
}








/* Contact */


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.contact-tittles {
    gap: 10px;
}

.contact-tittles h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #e4584f;
}
.contact-tittles h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #e4584f;
}

.form-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #2b3438ad;
    width: 40%;
    height: 40%;
}

.form-divs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 50%;
}

.form-divs label {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    color: black; 
}

.form-divs #genero, .form-divs #edad {
  color: #cc564f;
  text-align: center;
}


.form-divs input, .form-divs select {
    background-color: #2b3438;
    color: #000000;
    width: 25%;
    height: 25%;
    border: 1px solid #cc564f;
    padding: 5px;
    text-align: center;
}

.form-cont input::placeholder, .form-cont select::placeholder, .form-cont textarea::placeholder {
    color: #cc564f;
}

.form-cont textarea {
    background-color: #2b3438;
    color: #cc564f;
    width: 40%;
    height: 40%;
    border: 1px solid #cc564f;
}

.form-cont #subm {
    margin: 5px;
    padding: 5px;
    width: 15%;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #cc564f;
}

.form-cont #subm:hover {
  border: 2px solid #e4584f;
  color: #e4584f;
  background-color: #2b3438 ;
  transition: 0.5s all ease-in;
}

.form-divs.error input {
  border: 3px solid #dc3545;
  color: #dc3545;
  background-color: #2b3438;
  padding: 3px;
  text-align: center;
}

.form-divs.error small {
  color: #dc3545;
  max-width: 350px;
  text-align: center;
  padding: 7px 0;
}

.form-divs.success input {
  border: 3px solid #28a745;
  color: #28a745;
  background-color: #2b3438;
  padding: 3px;
  text-align: center;
}

.form-divs.success small {
  color: #28a745;
  max-width: 350px;
  font-size: 12px;
  text-align: center;
  padding: 7px 0;
}

.none {
  display: none;
}

.disabled {
  background-color: lightgray;
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: lightgray;
  color: white;
  cursor: not-allowed;
  border: none;
}







/* Footer */

footer {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-links a {
    color: #9d5351;
    font-size: 18px;
}

.footer-links a:hover {
    color: #b55450;
    transition: all 0.5ms ease-in-out;
}


.footer-links h4 {
    color: #cc564f;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(4, 194, 4);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}